@import "bootstrap-social.less";

#heading{
    text-align:center;
    font-family:'Playfair Display';
}

body{
    background-color:#F5DEB3;
}
/*img{
    
}*/
.jumbotron{
    background-image: url(https://images.unsplash.com/photo-1496226338867-3304059a5aa6?dpr=1&auto=format&fit=crop&w=1080&h=1482&q=80&cs=tinysrgb&crop=);
    background-size: cover;
    height: 250px;
}
/*.col-md-2{
    
}*/
.container{
    display: inline-block;
}

#myCarousel{
    width: 100%;
}
.pics{
   max-width:1280px;
    margin: auto;
    height: 100%;
}

.carousel-inner{
    height: 50%;
}

#credits{
    background-color: #AAAAAA;
}

input[type=email]{
     width:25%;    
}
#btm{
    color: black;
}
.carousel-caption{
 font-size: 25px;
}
.change{
    background-color: white;
    border-radius: 5px;
}